# Compiled files
*.tfstate
*.tfstate.backup
*.zip

# Module directory
.terraform/
.terraform
__pycache__/
.idea
*.iml
*.orig
*.ini
*~HEAD
*backup
*.ini
tmp
lambda
*~HEAD
*backup
*.bak
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.log
