---
# yamllint disable rule:line-length
name: Compare
on:
  workflow_dispatch:
jobs:
  tfsec:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ github.token }}
          fetch-depth: '0'
      - name: tfsec
        run: |
          pip3 install lastversion
          lastversion tfsec/tfsec --assets -d
          chmod +x tfsec-linux-amd64
          ./tfsec-linux-amd64 example/examplea -f json --out tfsec.json
        continue-on-error: true
      - name: store
        uses: actions/upload-artifact@v2
        with:
          name: tfsec
          path: tfsec.json
          if-no-files-found: error
  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ github.token }}
          fetch-depth: '0'
      - name: install checkov
        run: |
          pip3 install checkov
      - name: run checkov
        run: checkov -d  example/examplea -o json | tee checkov.json
        continue-on-error: true
      - name: store
        uses: actions/upload-artifact@v2
        with:
          name: checkov
          path: checkov.json
          if-no-files-found: error
  terrascan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ github.token }}
          fetch-depth: '0'
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install terrascan
        run: |
          pip3 install lastversion
          lastversion accurics/terrascan --assets -d --verbose
          tar -xvf terrascan*.tar.gz
          chmod +x ./terrascan
      - name: run terrascan
        run: |
          ./terrascan init
          ./terrascan scan -d  example/examplea -o json -x json | tee terrascan.json
        continue-on-error: true
      - name: store
        uses: actions/upload-artifact@v2
        with:
          name: terrascan
          path: terrascan.json
          if-no-files-found: warn
  kics:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master
          token: ${{ github.token }}
          fetch-depth: '0'
      - name: install kics
        run: |
          pip3 install lastversion
          lastversion Checkmarx/kics --assets -d --verbose
          tar -xvf kics*.tar.gz
      - name: run kics
        run: ./kics scan -p  example/examplea -o kics.json --report-formats json
        continue-on-error: true
      - name: store
        uses: actions/upload-artifact@v2
        with:
          name: kics
          path: kics.json
          if-no-files-found: warn

  upload:
    needs: [kics, terrascan, checkov, tfsec]
    runs-on: ubuntu-latest
    steps:
      - name: Get Time
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          timeZone: 8
          format: "YYYY-MM-DD-HH-mm-ss"
      - name: mkdir
        run: |
          mkdir  tos3
      - uses: actions/download-artifact@v2
        with:
          path: tos3
      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: compare-data-680235478471
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_KEY }}
          AWS_REGION: "eu-west-2"
          SOURCE_DIR: tos3
          DEST_DIR: ${{ github.repository }}/${{ steps.time.outputs.time }}
